In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pochutla,MX,2021-10-28 21:07:30,15.7432,-96.4661,88.83,73,59,5.53
1,1,Castro,BR,2021-10-28 21:07:31,-24.7911,-50.0119,64.83,91,91,10.07
2,2,Severo-Kurilsk,RU,2021-10-28 21:06:10,50.6789,156.1250,42.12,91,100,7.74
3,3,Victoria,HK,2021-10-28 21:05:58,22.2855,114.1577,77.38,88,84,1.99
4,4,Kapaa,US,2021-10-28 21:07:32,22.0752,-159.3190,82.38,89,75,3.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# city_weather = requests.get(city_url).json()

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of windspeed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
windspeed = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pochutla,MX,2021-10-28 21:07:30,15.7432,-96.4661,88.83,73,59,5.53
3,3,Victoria,HK,2021-10-28 21:05:58,22.2855,114.1577,77.38,88,84,1.99
4,4,Kapaa,US,2021-10-28 21:07:32,22.0752,-159.3190,82.38,89,75,3.00
5,5,Mitsamiouli,KM,2021-10-28 21:07:32,-11.3847,43.2844,79.21,75,9,0.92
6,6,Ipira,BR,2021-10-28 21:07:33,-12.1583,-39.7372,77.14,68,26,16.71
11,11,Georgetown,MY,2021-10-28 21:07:35,5.4112,100.3354,78.73,90,20,3.44
12,12,Keti Bandar,PK,2021-10-28 21:07:35,24.1447,67.4497,79.81,48,0,5.97
14,14,Rikitea,PF,2021-10-28 21:05:15,-23.1203,-134.9692,75.49,80,81,17.65
16,16,Vaini,TO,2021-10-28 21:07:36,-21.2000,-175.2000,78.96,78,75,9.22
20,20,San Quintin,MX,2021-10-28 21:07:38,30.4833,-115.9500,75.97,37,0,7.07

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [30]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
0     Pochutla      MX     88.83  15.7432  -96.4661
3     Victoria      HK     77.38  22.2855  114.1577
4        Kapaa      US     82.38  22.0752 -159.3190
5  Mitsamiouli      KM     79.21 -11.3847   43.2844
6        Ipira      BR     77.14 -12.1583  -39.7372

In [34]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [37]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Pochutla,MX,88.83,15.7432,-96.4661,Hotel Posada San Jose
3,Victoria,HK,77.38,22.2855,114.1577,Mini Hotel Central
4,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Mitsamiouli,KM,79.21,-11.3847,43.2844,Foyer ADM
6,Ipira,BR,77.14,-12.1583,-39.7372,Pallace Hotel e Restaurante
11,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang
12,Keti Bandar,PK,79.81,24.1447,67.4497,Haji laloo memon house
14,Rikitea,PF,75.49,-23.1203,-134.9692,People ThankYou
16,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
20,San Quintin,MX,75.97,30.4833,-115.9500,Don Eddie's Sport Fishing Center

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))